<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<header>
			<div class="header-div">
				<div class="header-hello">
				<h1>Hello,</h1>
				<h3 id="email"><%= locals.email ? email: "Null"%></h3>
				</div>
				<a href="/logout" id="logout-btn">Logout</a>
			</div>
		</header>
		<div class="wrapper">
			<div class="container">
			<h3>Alarms</h3>
				<div class="outer-wrapper">
					<div class="alarms" id="parent">
						<% alarms.forEach(function(item){%>
							<div class="alarm-item">
								<div class="time-top">
									<h2 class="alarm-label"><%= item.label%></h2>
									<div class="time-div">
										<h4>Alarm at : </h4>
									<div class="time"><%=item.userHour%> : <%=item.userMinute%></div>

									</div>
										<div class="date-div">
											<h4>Date : </h4>
											<div class="date"><%=item.userDay%>-<%=item.userMonth%>-<%=item.userYear%></div>
										</div>
								</div>
								<div class="delete">
									<button onclick="deleteAlarm(this)" id="<%= item._id%>" class="del-btn">Delete</button>
								</div>
							</div>
						<%})%>
					</div>
				</div>
	
				<div class="alarm-set">
					<div class="label-set">
						<input type="text" id="label" name ="label" placeholder="Whats the alarm for ?" required>
					</div>
					<div class="middle-set">
						<div class="time-set">
							<input type="time" id="time" name="time" required />
						</div>
						<div class="date-set">
							<input type="date" name="date" id="date" required/>
						</div>
					</div>
						<button value="Set now" onclick="getData()" id="submitData"/>Set alarm</button>
					</div>
				</div>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/script.js"></script>
	</body>
</html>
